@import '../../App.scss';

.header {
    display: flex;
    justify-content: space-between;

    .heading {
        color: $base_color;
    }

    button {
        border: none;
        background: none;
        background-color: #eee;
        font-size: 18px;
        height: 25px;
        width: 25px;
        line-height: 18px;
        border-radius: 50%;
    }
    
}
.contain{
    margin: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    button{
        font-size: 25px;
        color: #eee;
        border: none;
        background-color: $base_color;
        border-radius: 25px;
        padding: 5px 10px;
        letter-spacing: 0.02em;
    }
    
}
.footer{
    display: flex;
    flex-direction: column;
    margin: 1rem 1.5rem;
    span{
        margin: 1rem 0;
        color: $text_color;
        letter-spacing: 0.02em;
        color: red;
    }
    .link{
        color: teal;
    }
}